@media (max-width: 768px) {
  .searchbox {
    min-width: 90%;
  }
}

@media (max-width: 971px) {
  .container {
    width: 100vw;
    min-height: 95vh;
    margin: auto;
  }

  .reactPlayer {
    margin: 0 auto;
  }
}

@media (max-width: 827px) {
  .hero {
    height: 750px;

    .details {
      top: 120px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.1;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .movie-card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #f7f7f7;
    margin-top: 0;

    .description {
      width: 100%;
      top: 750px;

      .col1 {
        padding: 30px 0px 30px 0px;
        width: 80%;
        margin: 0 auto;

        h3 {
          span {
            font-weight: normal;
          }
        }
      }
    }
  }
  .cover {
    top: 360px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .detail {
    .details {
      .title1 {
        text-align: center;
      }

      .title2 {
        font-size: 21px;
        text-align: center;
      }
    }
  }
}
